
@{
    ViewData["Title"] = "MdpModifie";
}

    <div class="container">

            <div class="text-center">
                <h1>Votre mot de passe à bien été modifié</h1>
                <div class="mt-5">
                    <a class="btn btn-block btn-light" asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
                </div>
            </div>
    </div>

