@model eLibrairie.Core.Data.Models.Book

@{
    ViewData["Title"] = "Edit";
    List<eLibrairie.Core.Data.Models.Categorie> list = null;
    list = this.ViewBag.CategorieList;
    var listItems = list.Select(item => new SelectListItem() { Text = item.Name, Value = item.Id.ToString() }).ToList();
}

<h1 class="text-center m-5">Edition</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="CategorieId" asp-items="listItems"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<partial name="~/Views/_ViewBackDashboard.cshtml" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}
