
@{
    ViewData["Title"] = "Dashboard";
}

@Html.Raw("<link href='~/css/dashboard.css' rel='stylesheet'>")

<h1 class="text-center m-5">Dashboard</h1>

<div class="text-center m-5">
    <h4>Nous sommes le <strong>@this.ViewBag.theDate.ToString("dd/MM/yyyy")</strong></h4>
</div>

<div class="row">
    <!--SIDEBAR-->
    <div class="col-3">
        <partial name="~/Views/_ViewSideBarMenu.cshtml" />
    </div>

    <!--CENTRAL-->
    <div class="col-9">
        <ul class="list-group">
            <li class="list-group-item active">
                Aperçu du site
            </li>
            <li class="list-group-item">
                <div class="row">

                    <!-- Categorie -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <a class="card border-left-primary" href="http://localhost:52225/categorie/index">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Catégories</div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.numCategories</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Book -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <a class="card border-left-primary" href="http://localhost:52225/book/index">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Livres</div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.numBooks</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            </li>
        </ul>
    </div>
</div>

